<a href="https://colab.research.google.com/github/jovanape/Bitcoint-Price-Prediction/blob/main/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pretprocesiranje i analiza podataka**

### **Učitavanje biblioteka**

In [1]:
# Ucitavanje biblioteka

import numpy as np 
import pandas as pd 
from matplotlib import pyplot as plt
import os

In [2]:
DAYS_TO_PREDICT = 60

### **Učitavanje skupa podataka i uklanjanje NaN vrednosti**

In [3]:
def preprocess_data(file_name = 'bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv'):

  # Ucitavanje skupa podataka
  data = pd.read_csv(file_name)
  #print('Prvih 5 instanci skupa podataka pre sredjivanja:\n', data.head(5))

  # Dimenzije DataFrame-a
  #print('\n\nDimenzije skupa podataka pre sredjivanja:\n', data.shape)

  # Ciscenje podataka od NaN vrednosti
  data = data.dropna()

  # Kreiranje datuma
  data['Date'] = pd.to_datetime(data['Timestamp'], unit='s').dt.date # samo datum (bez vremena)
  #print('\n\nPrvih 5 instanci skupa podataka nakon sredjivanja:\n', data.head(5))

  # Dimenzije DataFrame-a
  #print('\n\nDimenzije skupa podataka nakon sredjivanja:\n', data.shape)

  return data

In [4]:
data = preprocess_data(file_name = 'bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv')
data

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,Date
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000,2011-12-31
478,1325346600,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000,2011-12-31
547,1325350740,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411,2011-12-31
548,1325350800,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000,2011-12-31
1224,1325391360,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000,2012-01-01
...,...,...,...,...,...,...,...,...,...
4857372,1617148560,58714.31,58714.31,58686.00,58686.00,1.384487,81259.372187,58692.753339,2021-03-30
4857373,1617148620,58683.97,58693.43,58683.97,58685.81,7.294848,428158.146640,58693.226508,2021-03-30
4857374,1617148680,58693.43,58723.84,58693.43,58723.84,1.705682,100117.070370,58696.198496,2021-03-30
4857375,1617148740,58742.18,58770.38,58742.18,58760.59,0.720415,42332.958633,58761.866202,2021-03-30
4857376,1617148800,58767.75,58778.18,58755.97,58778.18,2.712831,159417.751000,58764.349363,2021-03-31

### Filtriranje podataka

In [5]:
def filter_data(data, date_str = '2021-03-28'):
    
    # Filtriranje podataka
    data = data.loc[data['Date'] > pd.to_datetime(date_str)]
    #print('\nPrvih 5 instanci skupa podataka nakon filtriranja:\n', data.head(5))

    # Dimenzije DataFrame-a
    #print('\n\nDimenzije skupa podataka nakon filtriranja:\n', data.shape)
    
    return data

In [13]:
data = filter_data(data, date_str = '2021-03-28')
data

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,Date
4854496,1616976000,55790.28,55822.98,55777.98,55804.36,1.731449,96636.546983,55812.518695,2021-03-29
4854497,1616976060,55822.98,55857.28,55822.98,55857.28,0.589603,32931.781301,55854.182542,2021-03-29
4854498,1616976120,55822.98,55829.04,55766.15,55779.04,2.729659,152263.034630,55780.964698,2021-03-29
4854500,1616976240,55766.15,55768.63,55766.15,55768.63,0.023738,1323.776861,55766.455065,2021-03-29
4854501,1616976300,55770.46,55778.48,55736.83,55742.20,0.389067,21692.454676,55755.006032,2021-03-29
...,...,...,...,...,...,...,...,...,...
4857372,1617148560,58714.31,58714.31,58686.00,58686.00,1.384487,81259.372187,58692.753339,2021-03-30
4857373,1617148620,58683.97,58693.43,58683.97,58685.81,7.294848,428158.146640,58693.226508,2021-03-30
4857374,1617148680,58693.43,58723.84,58693.43,58723.84,1.705682,100117.070370,58696.198496,2021-03-30
4857375,1617148740,58742.18,58770.38,58742.18,58760.59,0.720415,42332.958633,58761.866202,2021-03-30
4857376,1617148800,58767.75,58778.18,58755.97,58778.18,2.712831,159417.751000,58764.349363,2021-03-31

### **Informacije o skupu podataka**

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2872 entries, 4854496 to 4857376
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Timestamp          2872 non-null   int64
 1   Open               2872 non-null   float64
 2   High               2872 non-null   float64
 3   Low                2872 non-null   float64
 4   Close              2872 non-null   float64
 5   Volume_(BTC)       2872 non-null   float64
 6   Volume_(Currency)  2872 non-null   float64
 7   Weighted_Price     2872 non-null   float64
 8   Date               2872 non-null   object
dtypes: float64(7), int64(1), object(1)
memory usage: 224.4+ KB

### **Statistike o atributima skupa podataka**

In [18]:
data.describe

<bound method NDFrame.describe of           Timestamp      Open      High       Low     Close  Volume_(BTC)  \
4854496  1616976000  55790.28  55822.98  55777.98  55804.36      1.731449
4854497  1616976060  55822.98  55857.28  55822.98  55857.28      0.589603
4854498  1616976120  55822.98  55829.04  55766.15  55779.04      2.729659
4854500  1616976240  55766.15  55768.63  55766.15  55768.63      0.023738
4854501  1616976300  55770.46  55778.48  55736.83  55742.20      0.389067
...             ...       ...       ...       ...       ...           ...
4857372  1617148560  58714.31  58714.31  58686.00  58686.00      1.384487
4857373  1617148620  58683.97  58693.43  58683.97  58685.81      7.294848
4857374  1617148680  58693.43  58723.84  58693.43  58723.84      1.705682
4857375  1617148740  58742.18  58770.38  58742.18  58760.59      0.720415
4857376  1617148800  58767.75  58778.18  58755.97  58778.18      2.712831

         Volume_(Currency)  Weighted_Price        Date
4854496       96636.546983    55812.518695  2021-03-29
4854497       32931.781301    55854.182542  2021-03-29
4854498      152263.034630    55780.964698  2021-03-29
4854500        1323.776861    55766.455065  2021-03-29
4854501       21692.454676    55755.006032  2021-03-29
...                    ...             ...         ...
4857372       81259.372187    58692.753339  2021-03-30
4857373      428158.146640    58693.226508  2021-03-30
4857374      100117.070370    58696.198496  2021-03-30
4857375       42332.958633    58761.866202  2021-03-30
4857376      159417.751000    58764.349363  2021-03-31

[2872 rows x 9 columns]>

# Definicije funkcija

### Podela skupa podataka

In [7]:
def data_split(data, test_size = 0):

  if test_size <= 0:
    print('Vrednost parametra test_size mora biti strogo veca od 0.\n')
    return
  else: # test_size > 0
    test_limit = len(data) - int(test_size * len(data))

  train = data[:test_limit]
  test = data[test_limit:]
  
  return train, test

### Odredjivanje ciljne promenljive

In [8]:
def determine_x_and_y(dataset):
  X = []
  y = []

  df = pd.DataFrame()

  for i in range(60, dataset.shape[0]):
    X.append(dataset[i-60:i])
    y.append(dataset[i,0])
  
  return X, y

### Vizuelni prikaz trening i validacionog skupa

In [9]:
def plot_train_and_validation_data(train, validation):
  plt.title('Podaci za trening i validaciju')
  plt.xlabel('vreme')
  plt.ylabel('vrednost bitkoina')
  plt.plot(train, c = 'lime')
  plt.plot(validation, c = 'orchid')
  plt.show()

### Skaliranje podataka - rnn

In [10]:
def scale_columns(X_train_df, X_validation_df, X_test_df):
    
    scaler0 = MinMaxScaler(feature_range=(0, 1))
    scaler1 = MinMaxScaler(feature_range=(0, 1))
    scaler2 = MinMaxScaler(feature_range=(0, 1))
    scaler3 = MinMaxScaler(feature_range=(0, 1))

    X_train_df[0] = scaler0.fit_transform(X_train_df[0].to_numpy().reshape(-1,1))
    X_train_df[1] = scaler1.fit_transform(X_train_df[1].to_numpy().reshape(-1,1))
    X_train_df[2] = scaler2.fit_transform(X_train_df[2].to_numpy().reshape(-1,1))
    X_train_df[3] = scaler3.fit_transform(X_train_df[3].to_numpy().reshape(-1,1))

    X_validation_df[0] = scaler0.transform(X_validation_df[0].to_numpy().reshape(-1,1))
    X_validation_df[1] = scaler1.transform(X_validation_df[1].to_numpy().reshape(-1,1))
    X_validation_df[2] = scaler2.transform(X_validation_df[2].to_numpy().reshape(-1,1))
    X_validation_df[3] = scaler3.transform(X_validation_df[3].to_numpy().reshape(-1,1))

    X_test_df[0] = scaler0.transform(X_test_df[0].to_numpy().reshape(-1,1))
    X_test_df[1] = scaler1.transform(X_test_df[1].to_numpy().reshape(-1,1))
    X_test_df[2] = scaler2.transform(X_test_df[2].to_numpy().reshape(-1,1))
    X_test_df[3] = scaler3.transform(X_test_df[3].to_numpy().reshape(-1,1))
    
    return X_train_df, X_validation_df, X_test_df